@import "../../../style/App.scss";

.playlistBlock {
    &__block {
        .playlist {
            display: flex;
            gap: 75px 150px;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;

            &__add {
                color: var(--white);
                width: 100px;
                height: 100px;
            }

            &-block {
                color: var(--white);

                &__button {
                    display: flex;
                    flex-direction: column;
                    row-gap: 25px;
                    width: 100px;
                }

                &__name {
                    width: 100px;
                    text-align: center;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            @include tabs() {
                justify-content: space-between;
                column-gap: 70px;
            }
        }
    }
}