@import "../../../../../style/App.scss";

.navigation-popup {
    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100vw;
    background-image: var(--linear-gradient);
    color: var(--white);
    transform: translateY(100%);
    pointer-events: none;
    user-select: none;
    opacity: 0;
    z-index: 400;
    transition: 0.7s;
    

    &__block {
        width: 100%;
        height: 100%;
        padding: 50px 80px;

        .navigation {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: inherit;
            height: inherit;

            &__close {
                position: absolute;
                top: 50px;
                left: 80px;
                color: var(--white);

                @include mobile() {
                    top: 40px;
                    left: 20px;
                }
            }

            &__image {
                width: 200px;
                aspect-ratio: 1 / 1;

                @include mobile() {
                    width: 100px;
                }
            }

            .author {
                display: flex;
                justify-content: space-between;
                width: 100%;

                &-block {
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;

                    &__name {
                        font-size: 32px;

                        @include mobile() {
                            font-size: 26px;
                        }
                    }
                    
                    &__author {
                        font-size: 20px;
                    }
                }

                &__addPlaylist {
                    display: flex;
                    color: var(--white);
                    width: 40px;
                    height: 40px;

                    @include mobile() {
                        display: none;
                    }
                }
            }

            &-management {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                width: 100%;

                &__progress {
                    width: inherit;
                }
            }

            &-buttons {
                display: flex;
                justify-content: space-between;
                width: 100%;
                color: var(--white);

                &__random {
                    color: inherit;
                    
                    @include mobile() {
                        width: 20px;
                        height: 20px;
                    }
                }

                .buttons {
                    display: flex;
                    column-gap: 100px;

                    &__previous {
                        color: inherit;

                        @include mobile() {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    &__play {
                        color: inherit;
                    }

                    &__next {
                        color: inherit;

                        @include mobile() {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    @include mobile() {
                        column-gap: 40px;
                    }
                }

                &__repeat {
                    color: inherit;

                    @include mobile() {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            &__next-tracs {
                align-self: flex-end;
                color: inherit;
                font-size: 18px;
            }
        }

        @include mobile() {
            padding: 40px 20px;
        }
    }
}

.active-music {
    @include laptop {
        transform: translateY(0);
        opacity: 1;
        pointer-events: painted;
        transition: 0.7s;
    }
}