@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  position: absolute;
  top: 0;
  left: 0;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  /*Colors*/
  --white: #FFFFFF;
  --black: #000000;
  --gray: #555555;
  --dark: #14171A;
  --light-gray: #ADA8A8;
  --up-linear-gradient: #141124;
  --down-linear-gradient: #07135F;
  --linear-gradient: linear-gradient(to bottom right , var(--up-linear-gradient), var(--down-linear-gradient));
  /*Font*/
  --font-text: 18px;
  --font-title: 34px;
}

body {
  background-image: var(--linear-gradient);
  font-family: "Nunito Sans", serif;
  max-height: 100vh;
}
body::-webkit-scrollbar {
  width: 0;
}

#root {
  max-height: 100vh;
  width: 100vw;
}

input, textarea {
  resize: none;
  border: 0;
}
input:focus, textarea:focus {
  outline: 0;
}

a {
  color: inherit;
  font-weight: 200;
}
a, a:hover {
  text-decoration: none;
}

button {
  display: inline-flex;
  padding: 0;
  border: 0;
  background-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

p {
  font-weight: 200;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.navigation-popup {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100vw;
  background-image: var(--linear-gradient);
  color: var(--white);
  transform: translateY(100%);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 0;
  z-index: 400;
  transition: 0.7s;
}
.navigation-popup__block {
  width: 100%;
  height: 100%;
  padding: 50px 80px;
}
.navigation-popup__block .navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  height: inherit;
}
.navigation-popup__block .navigation__close {
  position: absolute;
  top: 50px;
  left: 80px;
  color: var(--white);
}
@media (max-width: 600px) {
  .navigation-popup__block .navigation__close {
    top: 40px;
    left: 20px;
  }
}
.navigation-popup__block .navigation__image {
  width: 200px;
  aspect-ratio: 1/1;
}
@media (max-width: 600px) {
  .navigation-popup__block .navigation__image {
    width: 100px;
  }
}
.navigation-popup__block .navigation .author {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navigation-popup__block .navigation .author-block {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.navigation-popup__block .navigation .author-block__name {
  font-size: 32px;
}
@media (max-width: 600px) {
  .navigation-popup__block .navigation .author-block__name {
    font-size: 26px;
  }
}
.navigation-popup__block .navigation .author-block__author {
  font-size: 20px;
}
.navigation-popup__block .navigation .author__addPlaylist {
  display: flex;
  color: var(--white);
  width: 40px;
  height: 40px;
}
@media (max-width: 600px) {
  .navigation-popup__block .navigation .author__addPlaylist {
    display: none;
  }
}
.navigation-popup__block .navigation-management {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}
.navigation-popup__block .navigation-management__progress {
  width: inherit;
}
.navigation-popup__block .navigation-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--white);
}
.navigation-popup__block .navigation-buttons__random {
  color: inherit;
}
@media (max-width: 600px) {
  .navigation-popup__block .navigation-buttons__random {
    width: 20px;
    height: 20px;
  }
}
.navigation-popup__block .navigation-buttons .buttons {
  display: flex;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.navigation-popup__block .navigation-buttons .buttons__previous {
  color: inherit;
}
@media (max-width: 600px) {
  .navigation-popup__block .navigation-buttons .buttons__previous {
    width: 30px;
    height: 30px;
  }
}
.navigation-popup__block .navigation-buttons .buttons__play {
  color: inherit;
}
.navigation-popup__block .navigation-buttons .buttons__next {
  color: inherit;
}
@media (max-width: 600px) {
  .navigation-popup__block .navigation-buttons .buttons__next {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 600px) {
  .navigation-popup__block .navigation-buttons .buttons {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
.navigation-popup__block .navigation-buttons__repeat {
  color: inherit;
}
@media (max-width: 600px) {
  .navigation-popup__block .navigation-buttons__repeat {
    width: 20px;
    height: 20px;
  }
}
.navigation-popup__block .navigation__next-tracs {
  align-self: flex-end;
  color: inherit;
  font-size: 18px;
}
@media (max-width: 600px) {
  .navigation-popup__block {
    padding: 40px 20px;
  }
}

@media (max-width: 1280px) {
  .active-music {
    transform: translateY(0);
    opacity: 1;
    pointer-events: painted;
    transition: 0.7s;
  }
}/*# sourceMappingURL=Navigation.css.map */